<h2><%= @trip.title %></h2>
<p>Location: <%= @trip.destination_city %></p>
<p>Mileage: <%= @trip.mileage %></p>
<p>Fellow Travelers:</p>
<% @trip.travelers.each do |traveler| %>
  <section id = <%= "traveler_#{traveler.id}"%>>
    <p><%= traveler.name %></p>
    <%= button_to "Remove Traveler", "/trips/#{@trip.id}", method: :patch, params: {traveler_id: "#{traveler.id}"}  %>

  </section>
<% end %>
