<h1><%= @trip.name %></h1>
<p><%= @trip.destination_city %></p>
<p><%= @trip.mileage %></p>
<section id="trip-travelers">
  <h3>Travelers on this Trip:</h3>
  <% @trip.travelers.each do |traveler| %>
    <section id="traveler-<%= traveler.id%>">
      <p><%= traveler.name %></p>
      <%= button_to 'Remove Traveler', "/trips/#{@trip.id}/travelers/#{traveler.id}", method: :delete %>
    </section>
  <% end %>