<h1><%= @trip.title.upcase %>'S SHOW PAGE</h1>

<section class="trip-info">
  Trip info:</br>
  <%= @trip.title %></br>
  <%= @trip.city %></br>
  <%= @trip.mileage %></br>
</section></br></br>


<section class="trip-travelers">
  Travelers on this trip:</br>
  <% @trip.travelers.each do |traveler| %>
    <%= traveler.name %></br>
  <% end %>
</section>