<h1>Trip Show Page</h1>

<p>Title: <%= @trip.name %></p>
<p>Destination: <%= @trip.destination %></p>
<p>Mileage: <%= @trip.mileage %></p>
<p>Travelers: <% @trip.travelers.each do |trav| %>
    <%= trav.name %><br>
    <%= button_to "Remove Traveler", traveler_trip_path, method: :delete  %><br>
    <% end %>
</p>