<section id = "trip-information">
  <h1><%= @trip.title %></h1>
  <p>Destination: <%= @trip.destination %></p>
  <p>Mileage: <%= @trip.mileage %></p>
</section>

<section class = "travelers">
  <ul>
    <% @trip.travelers.each do |traveler| %>
      <div id = "traveler-<%= traveler.id %>">
        <li><%= traveler.name %> <%= button_to "Remove Traveler", trip_traveler_path(@trip, traveler), method: :delete %></li>
      </div>
    <% end %>
  </ul>
</section>

<section id = "similar-trips">
  <ul>
    <% @trip.similar_trips.each do |trip| %>
      <li><%= link_to trip.title, trip_path(trip) %></li>
    <% end %>
  </ul>
</section>