<h1><%= @trip.title %></h1><br/>
<h2><%= @trip.destination_city %></h2><br/>
<%= @trip.travelers%><br/>
<%= @trip.mileage %>
<% @trip.travelers.each do |traveler|%>
  <%= traveler.name %>
  <%= button_to "Remove Traveler", "/trips/#{@trip.id}/#{traveler.id}", method: :delete %>
<% end %>

