<h1><%= @trip.title %></h1>
<section class="details">
<ul>
  <li>Destination: <%= @trip.destination %></li>
  <li>Mileage: <%= @trip.mileage %></li>
</ul>
</section>
<section class="travelers">
<ul>
  <% @trip.trip_travelers.each do |trip_traveler| %>
    <li id="traveler-<%= trip_traveler.traveler.id %>"> 
      <%= trip_traveler.traveler.name %> 
      <%= link_to "Remove", trip_traveler_path(trip_traveler.id), method: :delete %> 
    </li>
  <% end %>
</ul>
</section>