<h1><%= @trip.title %></h1>

<p>Trip Destination: <%= @trip.destination %></p>
<p>Trip Mileage: <%= @trip.mileage %></p>

<h2>Travelers on This Trip:</h2>
<% @trip.travelers.each do |traveler| %>
  <section id="traveler-<%=traveler.id%>">
    <%= traveler.name %>, <%= traveler.age %></br>
    <%= link_to "Remove This Traveler", "/trips/#{@trip.id}/#{traveler.id}", method: :delete %>
  </section>
<% end %>
