<h1><%= @trip.title.upcase %>'S SHOW PAGE</h1>

<section class="trip-info">
  Trip info:</br>
  <%= @trip.title %></br>
  <%= @trip.city %></br>
  <%= @trip.mileage %></br>
</section></br></br>


Travelers on this trip:</br>
<% @trip.travelers.each do |traveler| %>
  <section id="traveler-<%= traveler.id %>">
    <%= traveler.name %> <%= button_to "Delete Traveler", traveler_trip_path(traveler.id), method: :delete %></br>
  </section>
<% end %>