<%= @trip.title %>
<%= @trip.destination_city %>
<%= @trip.mileage %>

<% @trip.travelers.each do |traveler| %>
  <section id="traveler-<%= traveler.id %>">
    <%= traveler.name %>
    <%= button_to "Remove Traveler", "/trips/#{t@trip.id}", method: :destroy %>
  </section>
<% end %>
