<h1><%= @trip.title %> Page</h1>
<p>Destination: <%= @trip.destination_city %><br>
Mileage: <%= @trip.mileage %><br>

<h3>Travelers</h3>
<% @trip.travelers.each do |traveler| %>
  <div id='traveler-<%=traveler.id%>'>
    <%= traveler.name %> <%= link_to 'Remove', "/trips/#{traveler.id}", method: :delete %><br>
  </div>
<% end %>
