
<h1 id="name"><%= @trip.title %></h1>
<p>
  <strong>Destination city:</strong>
  <%= @trip.destination_city %>
</p>
<p>
  <strong>Mileage:</strong>
  <%= @trip.mileage %>
</p>

<section id="travelers">
  <p>Travelers on trip: </p>
  <% @trip.travelers.each do |traveler| %>
  <section id="traveler-<%= traveler.id %>">
    <li><%= traveler.name %></li>
    <%= link_to "Remove Traveler", "/trips/#{@trip.id}?traveler=#{traveler.id}", method: :delete %>
  </section>
  <% end %>
</section>

<section id="similar-trips">
  <% @trip.similar_trips.each do |trip| %>
  <p><%= trip.title #need link%></p>
  <% end %>
</section>
