<h1><%= @trip.title %></h1><br/>
<h2><%= @trip.destination_city %></h2><br/>
<%= @trip.travelers%><br/>
<%= @trip.mileage %>
<%= @trip.travelers.first.name%>

<%= link_to  "Remove Traveler", "/trips/#{@trip.id}" %>
