<h1><%= @trip.title %></h1>
<h2><%= @trip.destination_city %></h2>
<h3><%= @trip.mileage %></h3>

<h3>All Travelers:</h3>
<% @trip.travelers.each do |traveler| %>
  <div id="traveler-<%= traveler.id %>">
    <%= traveler.name %> <%= link_to "Remove Traveler", "/trip_travelers/#{@trip.id}/#{traveler.id}", method: :delete %>
  </div>
<% end %>
