<h1><%= @trip.title %></h1>

<h3>Trip Details</h3>
<ul>
  <li>Location: <%= @trip.city %></li>
  <li>Mileage: <%= @trip.mileage %> miles</li>
</ul>

<h3>Travelers on this Trip</h3>
<ul>
  <% @trip.travelers.each do |traveler| %>
  <li id="traveler-<%= traveler.id %>"><%= traveler.name %> | <%= button_to "Delete #{traveler.name} from this Trip", "/trips/#{@trip.id}?traveler=#{traveler.id}", method: :delete %></li>
  <% end %>
</ul>
