<h1><%= @trip.title %></h1>
<p>Destination City: <%= @trip.destination_city %></p>
<p>Mileage: <%= @trip.mileage %></p>

<p>Travelers On This Trip:</p>
<% @trip.travelers.each do |traveler| %>
  <section id="traveler-<%= traveler.id %>"
    <p><%= traveler.name %></p>
    <%= link_to "Remove", trip_path(@trip, traveler_id: "#{traveler.id}"), method: :patch %>
  </section>
<% end %>

<section class="similar-trips">
  <h2>Other Trips to this Destination</h2>
  <% @trip.similar_trips.each do |trip| %>
    <section id="trip-<%= trip.id %>"
      <p><%= link_to "#{trip.title}", trip_path(trip) %></p>
    </section>
  <% end %>
</section>
