<h1><%= @trip.title %></h1>
<p><%= @trip.dest_city %></p>
<p><%= @trip.milage %></p>

<h2>Travelers on this trip</h2>
<% @trip.travelers.each do |traveler| %>
  <section id="traveler-<%=traveler.id%>" >
    <p><%= traveler.name %></p>
    <%= button_to "Remove Traveler", "/traveler/#{traveler.id}/trips/#{@trip.id}", method: :delete %>
  </section>
<% end %>