<h1>Trip Show Page</h1>
<h2><%= @trip.title %></h2>
<h3><%= @trip.destination_city %></h3>
<h3><%= @trip.mileage %></h3>

<section class="travelers-list">
  <% @trip.travelers.each do |traveler| %>
    <section id="traveler-<%= traveler.id %>">
      <p><%= traveler.name %></p>
      <%= button_to "Remove from Trip", "/traveler_trips/#{traveler.id}/#{@trip.id}", method: :delete %>
    </section>
  <% end %>
</section>
