<h1><%=@trip.title%></h1>
<h3>Destination: <%=@trip.destination_city%></h3>
<h3>Total Miles: <%=@trip.mileage%></h3>

<h2>Travelers on this trip</h2>
<section class = "travelers">
  <ul>
  <%@trip.travelers.each do |traveler| %>
  <div class = "traveler-<%=traveler.id%>"
    <li> <%=traveler.name %> </li>
    <%= link_to "Remove from Trip", "/trips/#{@trip.id}/#{traveler.id}", method: :patch%>
  <% end %>
  </ul>
</section>

<h2>Other Trips to this Destination</h2>
<section class = "similar_trips">
  <ul>
    <% if @trip.similar_trips != [] %>
        <% @trip.similar_trips.each do |trip| %>
        <li> <%= link_to "#{trip.title}", "/trips/#{trip.id}" %></li>
        <%end%>
      </ul>
      <% else %>
        <p>No other trips to this destination"</p>
      <%end%>
</section>
