<h1> <%= @trip.title %> </h1>

  <h4>Destination City: <%= @trip.destination_city %></h4>
  <h4>Mileage: <%= @trip.mileage %></h4>
  <br/>
  <h4>Travelers On This Trip:</h4>
  <% @trip.travelers.each do |traveler| %>
  <section id='traveler-<%= traveler.id %>'>
    <p><%= traveler.name %><%= button_to "Remove Traveler", "/travelers/#{traveler.id}", method: :delete %></p>
    <% end %>
    <h4>Trips To The Same Destination: </h4>
      <% @trip.similar_trips.each do |trip| %>
        <p><%= link_to "#{trip.title}", "trips/#{trip.id}" %></p>
        <% end %>
  </section>
