  <h1><%= @traveler.name %></h1>

    <h3>Age:<%= @traveler.age %></h3>
    <br/>
    <h3>Trips: </h3>
    <% @traveler.trips.each do |trip| %>
    <%= trip.title %>
    <br/>
    <% end %>
    <h4>Average Mileage Of All Trips: <%= @traveler.average_mileage %></h4>
    <h4>Add Trip</h4>
    <%= form_tag "/travelers/#{@traveler.id}", method: :patch do %>
      <%= label_tag :trip_id %>
      <%= text_field_tag :trip_id %>
      <%= submit_tag 'Submit' %>
    <% end %>
