<!DOCTYPE html>
<html>
  <head>
    <title>RoadTrip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "All Trips", "/trips" %>
    </nav>
    <%= yield %>
  </body>
</html>
